.content-container{
    display: flex;
    flex-direction: column;
    margin: 8vh 10vw;
    gap: 5vh;
    overflow-x: hidden;
}

.content-container .intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.content-container .intro h1 {
    font-size: 2.9rem;
}

.content-container .intro h2{
    font-size: 2rem;
    color: rgb(239, 92, 87);
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(44, 39, 38);
    padding: 1rem 1rem;
    border-radius: 5px;
}

.content-container .swiper-container{
    width: clamp(15vw, 2.5vw, 17vw);
    height: auto;
    margin: auto;
    z-index: 1;
    max-width: 100%; /* Ensures it doesn’t exceed the parent container */
}

/* For smaller screens (phones) */
@media (max-width: 800px) {
    .content-container .swiper-container {
        width: 40%; 
    }
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%; /* Ensures images fit within the slide */
    object-fit: cover; /* Prevents distortion */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.content-container .message{
    margin: 3.2rem auto;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
    line-height: 1.5;
    background-color: rgba(147, 176, 170, 0.2);
    border-radius: 5px;
    padding: 1rem 1rem;
    border: 3px solid whitesmoke;
}

@media (max-width: 250px) {
    .swiper-container{
        overflow: hidden;
    }
    
}