body{
    background: rgba(95, 158, 160, 20%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    min-height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margin */
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(134, 182, 182, 0.5);
    box-shadow: 3px 2px 20px rgb(82, 112, 124);
}

#navbar h3{
    margin-left: 50px;
    font-size: 20px;
    color: rgb(31, 34, 36);
}

#navbar nav{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    flex-grow: 1;
    text-align: center;
}

#navbar nav a{
    text-decoration: none;
    color: rgb(31, 34, 36);
    padding: 20px;
}

#navbar nav a:hover{
    background-color: rgba(134, 182, 182, 0.9);
}

.intro-div{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.intro-div h1{
    margin-bottom: 0px;
}

#add-btn{
    background-color: rgba(134, 182, 182, 0.8);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 35px;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#add-btn:hover{
    box-shadow: 0px 1px 4px rgb(145, 160, 166);
    cursor: pointer;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 30px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    align-content: center;
    margin-left: 480px;
    margin-top: 15px;
}


#submit-btn{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    width: 65px;
    height: 25px;
    margin-top: 10px;
    border-width: 2px;
    border-radius: 5px;;
}

.form-box div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-button{
    font-size: 15px;
    font-weight: bold;
}

#library-box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

